<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta name="referrer" content="never">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}{% endblock %} 水蜜桃火龙果国际童装荟</title>
        <link href="//cdn.bootcss.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">
        <link href="//cdn.bootcss.com/mdui/0.3.0/css/mdui.min.css" rel="stylesheet">
        <link href="{{ url_for('static', filename='style.css') }}" rel=stylesheet>
        <link rel="shortcut icon" href="http://ac-xuxzk6f4.clouddn.com/d93b08bb55ec03d7a0c7.ico" />
    {% endblock %}
</head>

<body>
<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
<div class="container-fluid">
  <div class="m-sm-0">
    {% block content %}{% endblock %}
  </div>
</div>
{% block footer %}
    <center class="mt-2 mb-2">&copy; Copyright 2017 By <a href="https://ryannanna.taobao.com">Ryan&Anna</a>.</center>
    <script src="//cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <script src="//cdn.bootcss.com/mdui/0.3.0/js/mdui.min.js"></script>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
    <script src="//cdn.bootcss.com/masonry/4.2.0/masonry.pkgd.min.js"></script>
    <script src="//cdn.bootcss.com/list.js/1.5.0/list.min.js"></script>
    <script src="{{ url_for('static', filename='utils.js') }}"></script>
{% endblock %}
</body>
</html>